.choice-btn {
  opacity: 1;
  outline: 0;
  min-width: 150px;
  color: #fff;
  background: #79797a;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  // font-family: 'Open Sans';
  text-transform: uppercase;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  // font-family: 'Open Sans';
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled), &.active {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    will-change: transform;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    will-change: transform;
    top: 0;
    left: 0;
    opacity: 1;
    color: #f7f7f7;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #868686;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }

  &.success {
    &:after, &:before {
      background: green;
      content: attr(data-success);

    }
  }

  &.subtle {
    &:before {
      background: transparent;
    }
  }
}