.choice-btn {
  display: block;
  outline: 0;
  min-width: 150px;
  padding: 0px 15px;
  width: 100%;
  color: var(--v-secondary-base);
  border: 1px solid var(--v-secondary-base);
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: font-weight 0.125s ease-in-out;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    width: auto;
  }

  &:hover {
    font-weight: bold;
  }
}
