@import '~vuetify/src/styles/styles.sass';
@import './misc.scss';
@import './buttons.scss';
@import './text.scss';
@import './content.scss';

html {
  overflow-y: auto !important;
}

.v-main__wrap {
  max-height: calc(100vh - 65px - 56px);
  overflow-y: auto;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    max-height: calc(100vh - 85px);
  }
}
