.v-application--wrap {
  color: white;
  background-color: #0b0b0b;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.container--fluid, nav {
  max-width: 1920px !important;
  margin: 0 auto !important;
}
header { width: 100%}