.vivid-decoration {
  font-weight: normal;
  position: relative;

}

.blurp {
  text-align: justify;
  backdrop-filter: blur(10px);
  padding: .5rem;
  color: white;
  position: relative;
  overflow: visible;
  z-index: 1;

  p {
    z-index: 1;
  }
  
  .mask {
    overflow: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.theme--light {
  .blurp {
    background-color: rgba(255, 255, 255, 0.5)
  }
}
.theme--dark {
  .blurp {
    background-color: #0b0b0b80
  }
}